<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Add New Users</title>
</head>
<body>
    <form action="submitUser" method="post">
        <input type="text" placeholder="enter your name..." name="name">
        <br/>
        <input type="text" placeholder="enter your age" name="age">
        <br/>
        <input type="text" placeholder="enter your email" name="email">
        <br/>
        <button>Add User</button>

    </form>
    
</body>
</html>