
        h1{
            color: teal ;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        a{
            color: skyblue ;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    